html{
  background-color: (128,0,128);
  font-family: Tahoma, Geneva, sans-serif;
}

header{
  text-align: Center;
  font-size: 20 pt;
  font-weight: oblique;
  background-color: yellow;
  padding: 10px opx 15px 5px;
  font-color: dark red;
}

nav ul{ 
  list-style-type: none;
  display: flex;
  gap: 2 rem;
  padding: 0;
  margin: 0;
}
nav ul{
  text-decoration: none;
  color: (255,105,180);
  font-weight: normal;
  transition: color 0.3s ease, font-weight 0.3s ease
}

nav ul a: hover {
    color: (0,191,255);
  font-weight: bold;
  text-decoration: uppercase;
}




  

